<h2>Portfolio</h2>

<div class="row-fluid"><!-- row-fluid -->
  <%= table_for(@purchase_histories) do |t|
    t.data do
      t.cell(:symbol)
      t.cell(:quantity)
      t.cell(:purchase_price)      
      t.cell(:created_at){|ph| ph.created_at.strftime("%m-%d-%Y")}
    end
  end %>
   
  <%= link_to 'New Stock Purchase', new_purchase_history_path, :class => 'btn btn-primary' %><br /><br />
</div><!-- /row-fluid -->
